{% extends "base.html" %} {% load i18n %} {% block content %}

<style>

#containment-wrapper {
	/*width: 80%;
	height: 600px;*/
	border: 0px;/* solid #ccc;*/
	padding: 10px;
	/*background-image: url(/static/img/planta_casa.jpg);*/
    background-repeat: no-repeat;
}

</style>

<html>

<boddy>
<div id="teste">
<!-- <input type="button" class="btn btn-default" id="btnEquip" value="Listar Equipamentos"> -->
<form method="post" class="form-horizontal" id="formAddTemplate" style='visibility:visible;'>
{% csrf_token %}
	<input type="button" id="save" name="Save" value="{% trans 'Guardar' %}" class="btn btn-primary" style="float:left;"/>
	<div class="cancel"><span class="text_small">{% trans "ou" %}</span>
		<a href="#"  class="btn_cancelar">{% trans "Cancelar" %}</a>
	</div>
	<div class="col-sm-2">
	<label for="template">Template:</label>
	</div >
	<div class="col-sm-4">
      <select class="form-control" name="template" id="template">
		  <option value="volvo">----</option>
	  </select>
	  
	 </div>
	  
</br>
</br>


<div id="containment-wrapper">

<!-- 
	{% for equipamento in equipamentos %} {% cycle rowvalue1 rowvalue2 %}
	<div id="containment-equipamento" class="draggable ui-widget-content">
		<div id="{{ equipamento.name }}" class="draggable ui-widget-content">
			<p>{{ equipamento.name }}</p>
		</div>
		{% for sensor in equipamento.sensor.all %}
		<div id="{{ sensor.name }}" class="draggable ui-widget-content">
			<p>sensor: {{ sensor.name }}</p>
		</div>
		{% endfor %}

		<div style="height: 5000px; width: 1px;"></div>
	</div>

	{% endfor %}
 -->
</div>

</div>
</boddy>
</html>
<script type="text/javascript">
	$(document).ready(function() {
		
	
	      $.ajax({
	         type: "POST",
	         url: "{% url 'getTemplate' %}",
	         data: {},
	         dataType: "json",
	         success: function(json){
	        	 console.log(json);
	            var options = "";
	            
	            options = '<option value="">----</option>';
	            
	            $.each(json, function(key, value){
	               options += '<option value="' + value.id + '">' + value.nome + '</option>';
	               
	               img.src = ""+ value.caminhoImagem +"";
	            });
	            
	            $("#template").html(options);
	
	         }
	      });
	      
	      var img = new Image();
	      var selectAnterior = "";
			
			$('select').on('change', function() {
				
				  if(this.value && this.value != selectAnterior){
					  selectAnterior = this.value;
					  //alert(this.value)
					  selecionar(this.value);  
				  }else {
					 // alert("NOne");
					  $("#containment-wrapper").css({"background-image":"url(/static/img/planta_casa.jpg)"});
					  $("#containment-wrapper").removeClass('draggable ui-widget-content');
					  //alert("Vazia "+this.velue)
				  }
				  
				});
			
	
		/*
		$("#btnEquip").click(function() {
			
			var value = $( "#template" ).val();
			if(value == ""){
				alert("Nenhum template selecionado.");
				
			}else{
				selecionar(value);
			}
			
			
			
		});
		*/
		
		function selecionar(id_template){
			
			//var id_template = id;
			
			$( "#btnEquip" ).hide();
			console.log('#someButton was clicked');
			$.ajax({
				type : "POST",
				url : "/home/equipamentos/" + id_template + "/",
				//dataType : "json",
				//data: {};
				success : function(retorno) {
					console.log(retorno);
					
					$.each(retorno, function(i, item_equip) {
						console.log("Nome - equipamento "+ item_equip.nomeEquipamento);
						$("#containment-wrapper").append(
								
								"<div data-toggle='tooltip' data-placement='top' title='"+ item_equip.nomeEquipamento +"' style='width: 74px; height: 74px; border: 2px solid #ccc; '"
								
								 + "id=" +"equip_" + item_equip.equipamento_id + " class='draggable ui-widget-content'>"
								 	+"<img src='/static/img/equipamento.png' />"
								 + "</div>"
						);
					
							$.each(item_equip.sensores, function(j, item_sensor) {
								console.log("Sensor: "+ item_sensor.sensor_id + " do Equipamento: " + item_equip.nomeEquipamento);

								$("#containment-wrapper").append(
										"<div data-toggle='tooltip' data-placement='top' title='Sensor: "+ item_sensor.nome_sensor +" - "+ item_equip.nomeEquipamento + "' style='width: 44px; height: 44px; border: 2px solid #ccc; '"
										
										+ "id='" + "sensor_" + item_equip.equipamento_id + "_" + item_sensor.sensor_id + "' class='draggable ui-widget-content'>"
											 +"<img src='/static/img/sensor01.png' />"
											 
								      + "</div>"	 
								);
								
										
								$("#sensor_" + item_equip.equipamento_id + "_" + item_sensor.sensor_id).draggable({
										
										containment : "#containment-wrapper",
										scroll : false
								});
							});

						
						$("#equip_" + item_equip.equipamento_id).draggable({
							
							containment : "#containment-wrapper",
							scroll : false
						});
						
					});
					
					getPosition();

				},
				
			});
			
			
			
		};
		
		
		function getPosition(){
			$.ajax({
			  	  type: "POST",
			  	  url: "{% url 'getEquipmentPosition' %}",
			  	  data: {},
			  	  	success: function(posicao){
			  		console.log(posicao);
			  		/*var img = new Image();
			  		
			  		img.onload = function() {
			  		  //alert(this.width + 'x' + this.height);
			  		}
			  		img.src = '/static/img/planta_casa.jpg';*/
			  		  
			  		$.each(posicao, function(i, item){
			  			//console.log("#"+item.nome);
			  			
			  			$("#" + item.nome).css({"top": item.Y +"px", "left": item.X +"px", position:'absolute'})
			  	      .addClass("selecionado");
			  			
			  			$("#containment-wrapper").css({"background-image":"url("+img.src+")"});
			  			$("#containment-wrapper").css({"width": img.width+"px", "height": img.height+"px", position:'absolute'});
			  			
			  		});
			  		
			  	  }
			 });
			
		};
		
			
			$("#save").click(function(e) {
				var dados = {};
				$('#containment-wrapper').children().each(function () {
					var jsonData = {};
					position = $(this).position()
				    var columnName = $(this).attr("id");
				    jsonData[columnName] = {"y":position.top , "x":parseInt(position.left)};
				    $.extend(dados, jsonData);
				});
				jsonDados = JSON.stringify(dados);

				$.ajax({
					  type: "POST",
					  url: "{% url 'addEquipmentPosition' %}",
					  traditional: true,
					  data: {"dados":jsonDados},
					  
					  success: function(data){
						  //console.log(data)
					  }
				});
			

			});
			
			
		/*	data = {{jsonData|safe}};
			$.each(data, function(key, value){
			 	element = "#"+key;
			 	$(element).css({ top: value.y, left: value.x});
			});*/
			
			
			/*$(function(){
				//csrftoken = getCookie('csrftoken');
				$.ajax({
					  type: "POST",
					  url: "{% url 'getEquipmentPosition' %}",
					  traditional: true,
					  data: {id:"{{eventos.0.id}}"},
					  beforeSend: function( xhr ) {xhr.setRequestHeader("X-CSRFToken", csrftoken);},
					  success: function(data){
						  $("#template").css({"background-image":"url("+data.fundo+")"});
						  $("#publicidade").attr("src",data.publicidade);
						  $("#visitado").children("img").attr("src",data.visitado);
						  $("#visitante").children("img").attr("src",data.visitante);
						  $("#competicao").attr("src",data.competicao);
						  $("#local").html(data.instalacao);
					  }
				});
			});*/

			
			/*$(document).on("draggable ui-widget-content", function( event, ui ) {
				$("#ylocal").html(ui.position.top);
				$("#xlocal").html(ui.position.left);
			});*/
			
			
		
		   
		
			});
</script>
{% endblock %}



