{% extends "base.html" %} {% load i18n %} {% block content %}

<style>
#Equipamento {
	width: 100px;
	height: 100px;
	padding: 0.5em;
	float: left;
	margin: 0 10px 10px 0;
	/*left: 400px;
	top: 150px;*/
}

#Sensor1, #Sensor2 {
	width: 50px;
	height: 50px;
	padding: 0.5em;
	float: left;
	margin: 0 10px 10px 0;
}

#containment-wrapper {
	width: 80%;
	height: 500px;
	border: 2px solid #ccc;
	padding: 10px;
}

#containment-equipamento {
	width: 35%;
	height: 40%;
	border: 2px solid #ccc;
	padding: 10px;
}
</style>
<table id="contatos">
	<thead>
		<tr>
			<th>Nome</th>
		</tr>
	</thead>
	<tbody id="corpoTabela">
	</tbody>
</table>
<input type="button" id="btnEquip" value="Listar Equipamentos">

<div id="containment-wrapper">
	{% for equipamento in equipamentos %} {% cycle rowvalue1 rowvalue2 %}
	<div id="containment-equipamento" class="draggable ui-widget-content">
		<div id="{{ equipamento.name }}" class="draggable ui-widget-content">
			<p>{{ equipamento.name }}</p>
		</div>
		{% for sensor in equipamento.sensor.all %}
		<div id="{{ sensor.name }}" class="draggable ui-widget-content">
			<p>sensor: {{ sensor.name }}</p>
		</div>
		{% endfor %}

		<div style="height: 5000px; width: 1px;"></div>
	</div>

	{% endfor %}

</div>


<script type="text/javascript">
	$(document).ready(
			function() {
				//$(function() {
				dados = {
					'name' : name
				};

				$("#btnEquip").click(
						function() {

							console.log('#someButton was clicked');
							$.ajax({
								type : "GET",
								url : "/home/",
								dataType : "json",
								data : name,
								success : function(retorno) {
									$("#" + objHtmlReturn).empty();
									$.each(retorno, function(i, item) {
										//$("containment-wrapper"+objHtmlReturn).append('<option value="'+item.pk+'">'+item.fields[fieldreturn]+'</option>');
										$("#corpoTabela").append(
												'<tr>' + '<td>'
														+ item.fields['name']
														+ '</td>' + '</tr>');
									});
								},
								error : function(erro) {
									alert('Erro. Sem retorno da requisicao.');
								}
							});
						});

				//$.each( [ "Monitor de Temperatura" ], function( i, l ){
				//alert(  l );

				/*jQuery.each( lista_equipamento, function( i, val ) {
					  $( "#" + val ).text( "Mine is " + val + "." );
					  console.log("equipment:" val);
					  // Will stop running after "three"
					  return ( val !== "three" );
					});
				
				/*$("#button1").click(function(){*/
				/*$("#containment-equipamento").draggable({
					containment : "#containment-wrapper",
					scroll : false
				});
				
				$(l).draggable({
					containment : "#containment-equipamento",
					scroll : false
				});
				
				$("#Sensor1").draggable({
					containment : "#containment-equipamento",
					scroll : false
				});
				$("#Sensor2").draggable({
					containment : "#containment-equipamento",
					scroll : false
				});
				
				/* });*/

				/*});*/

				//});
			});
</script>
{% endblock %}



